[submodule "controleAbastecimento/controleAbastecimento/controleAbasteciment"]
	path = controleAbastecimento/controleAbastecimento/controleAbasteciment
	url = https://github.com/headleo/controleAbasteciment.git
